.bigSlider .slick-slider {
    height: 65vh;
    overflow: hidden;
    .slick-prev,
    .slick-next {
        height: 70px !important;
        width: 70px !important;
        z-index: 1 !important;
        position: absolute;
        opacity: 1;
        transform: translate(0) !important;
        padding: 10px;
    }

    .slick-prev {
        left: 0 !important;
        transform: rotateZ(180deg) !important;
    }

    .slick-next {
        right: 0 !important;
    }

    .slick-prev::before,
    .slick-next::before {
        background: url(../../../public/slider-arrow.png) no-repeat;
        background-size: contain;
        height: 42px;
        width: 42px;
        font-size: 42px !important;
        color: transparent !important;
    }

    .slick-slide {
        &>div>div {
            height: 65vh;
        }
        img {
            object-fit: cover;
            height: 100%;
        }
        .BigSlider1 {
            position: relative;
            .btns {
                left: 20%;
                bottom: 80px;
            }
        }
        .BigSlider2 {
            display: flex !important;
            justify-content: center;
            background: #e4e8e9;
            position: relative;
            .btns {
                left: 50%;
                transform: translateX(-50%);
                bottom: 20px;
            }
        }
        .BigSlider3 {
            display: flex !important;
            justify-content: center;
            align-items: center;
            background: #ff8496;
            .text {
                width: 450px;
            }
        }
        .BigSlider4 {
            background:#AAB5B8;
            display: flex !important;
            .text {
                width: 450px;
                position: absolute;
                left: 51.5%;
                top: 50%;
                transform: translate(-50%, -50%);
                h2 {
                    color: #0098d9;
                    text-shadow: 0 0 10px #fff;
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .bigSlider .slick-slider {
        .slick-slide {
            .BigSlider4 {
                .text {
                    left: auto;
                    right: 45%;
                    transform: translate(-10%, -50%);
                }
            }
        }
    }    
}

@media (max-width: 1340px) {
    .bigSlider .slick-next {
        .slick-slide {
            .BigSlider4 {
                img {
                    position: relative;
                    left: -145px;
                }
            }
        }
    }
}