.mattress {
    position: absolute;
    width: 45%;
    bottom: -7%;
    max-height: 746px;
    min-width: 545px;
}

.test-block {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 330px;
}

.giftbox {
    position: absolute;
    right: 0;
    width: 20%;
    bottom: 20%;
}

@media screen and (min-width: 1800px) {
    .mattress {
        width: auto;
        height: 586px;
    }
    .giftbox {
        width: auto;
        height: 370px;
        right: 5%;
    }
}