.mattress {
    position: absolute;
    width: 45%;
    bottom: -7%;
}

.test-block {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 330px;
}

.giftbox {
    position: absolute;
    right: 0;
    width: 20%;
    bottom: 20%;
}